.backgroundColor {
    background-color:ivory;
    font-size: larger;
    color: indigo;
}
#textInput {
    padding-top: 10px;
    padding-right: 5px;
    padding-bottom: 10px;
    padding-left: 5px;
}
#borderBox {
    border-color:blue; 
    border: solid; 
    padding-left: inherit;
    padding-bottom: 5px;
}
#borderBox1 {
    border-color:blue; 
    border: solid; 
}
textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}