{%load static%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Internal style import start-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/mammoth@1.4.8/mammoth.browser.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/site.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <script type="text/javascript" src="https://cdn.ckeditor.com/ckeditor5/29.0.0/classic/ckeditor.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script defer src="{% static 'js/bootstrap.js' %}"></script>
    <script  defer src="{% static 'js/wordCount.js' %}"></script>
    <script defer src="{% static 'js/speechRecognition.js' %}"></script>
    
    

    <!-- Internal style import end-->
    <title>ScriPtY</title>
</head>

<body class="backgroundColor">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">ScriPtY</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                    </li>
                    <li class="nav-item">
                         <a class="nav-link" href="home">Home</a> 
                    </li>
                    <!-- <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                            aria-haspopup="true" aria-expanded="false">Sample Templates</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Template 1</a>
                            <a class="dropdown-item" href="#">Template 2</a>
                            <a class="dropdown-item" href="#">Template 3</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Template</a>
                        </div>
                    </li> -->
                    <!-- <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                            aria-haspopup="true" aria-expanded="false">Email Templates</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Template 1</a>
                            <a class="dropdown-item" href="#">Template 2</a>
                            <a class="dropdown-item" href="#">Template 3</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Template</a>
                        </div>
                    </li> -->
                    <!-- <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                            aria-haspopup="true" aria-expanded="false">Letter Templates</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Template 1</a>
                            <a class="dropdown-item" href="#">Template 2</a>
                            <a class="dropdown-item" href="#">Template 3</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Template</a>
                        </div>
                    </li> -->
                    <li style="position:absolute;right:1rem;bottom:21%" class="nav-item mx-auto">
                        <a class="nav-link" href="dashboard">Dashboard</a>
                    </li>
                </ul>
                <!-- <form class="d-flex">
                    <input class="form-control me-sm-2" type="text" placeholder="Search">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                </form> -->
                
            </div>
        </div>
    </nav>
    <!-- Input type selector start -->
    <div class="mt-lg-3">
        <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-10 offset-lg-1 offset-md-1 offset-sm-1 text-center">
                <label>Select Input type :</label>
                <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
                <label class="btn btn-outline-primary" for="btnradio1">Text</label>
                <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off"
                    data-toggle="modal" data-target="#textFileInput">
                <label class="btn btn-outline-primary" for="btnradio2">File(.txt/.doc/.docx)</label>
                <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off"
                    data-toggle="modal" data-target="#ocrFileInput">
                <label class="btn btn-outline-primary" for="btnradio3">Auto text recognition(.pdf/.jpg)</label>
                <input type="button" class="btn-check" id="btnradio4">
                <label class="btn btn-outline-primary" for="btnradio4" id="startListen">Voice Input</label>
                <input type="button" class="btn-check" id="btnradio5">
                <label class="btn btn-outline-primary" for="btnradio5" id="stopListen">Stop Listening</label>
            </div>
        </div>
    </div>
    </div>
    <!-- Input type selector end -->
    <!-- main window start -->
    <div class="row">
        <!-- text input area start -->
        <div class="col-lg-6 col-md-12 col-sm-10 offset-lg-1 offset-sm-1" style="margin:5%;flex-shrink: unset;">
            <form id="checkerForm" method="POST">
                {% csrf_token %}
                <div class="textborder">
                    <div name="textInput" contenteditable="true" id="textInput"
                        oninput="countWords()" class="editor" onchange="countWords()">
                    </div>
                </div>
                <input type="submit" class="btn btn-lg btn-success m-2" value="Check" id="textInputSubmit" />
                <div class="dropdown">
                    <button class="btn btn-lg btn-light m-2" type="button" id="exportBtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Export
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="#" id="txtExportBtn">Text File</a>
                      <a class="dropdown-item" href="#" id="pdfExportBtn">PDF File</a>
                    </div>
                  </div>
                <label for="wordCount">Word count: &nbsp;</label><label for="wordCountResult"
                    id="wordCountResult">0</label>
            </form>
        </div>
        <!-- text input area end -->
        <div class="col-lg-4" id="borderBox1">
            <div class="row">
                <div class="col-lg-10 col-md-5 col-sm-10 offset-lg-1 offset-md-1 offset-sm-1">
                    <label for="helperHeader">Helper</label>
                    <div for="translation" id="borderBox">
                        <form method="POST" id="translateForm">
                            {% csrf_token %}
                            <label for="">Translation</label><br>
                            <label for="fromLanguageLabel">From Language:</label>
                            <select name="fromLanguage" id="fromLanguage">
                                <option value="en">English</option>
                                <option value="hi">Hindi</option>
                                <option value="gu">Gujarati</option>
                            </select><br>
                            <label for="toLanguageLabel">To Language:</label>
                            <select name="toLanguage" id="toLanguage">
                                <option value="en">English</option>
                                <option value="hi">Hindi</option>
                                <option value="gu">Gujarati</option>
                            </select><br>
                            <!-- <input type="text" name="fromLanguageInput" id="fromLanguageInput"
                                placeholder="From Language Input"> -->
                            <button class="btn btn-info" type="submit">Translate</button><br><br>
                            <!-- <input type="text" name="toLanguageInput" id="toLanguageInput" placeholder="Translated text"
                                disabled> -->
                        </form>
                    </div>
                </div>
                <div class="col-lg-10 col-md-5 col-sm-10 offset-lg-1 offset-md-1 offset-sm-1">
                    <div for="wordHelper" class="mt-4" id="borderBox">
                        <form method="POST" id="synform">
                            {% csrf_token %}
                            <label for="">Synonyms/Antonyms/Meaning</label>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="optionsRadios"
                                        id="optionsRadios1" value="synonym" checked>
                                    Synonyms </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="optionsRadios"
                                        id="optionsRadios2" value="antonym">
                                    Antonyms
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="optionsRadios"
                                        id="optionsRadios3" value="meaning">
                                    Meaning </label>
                            </div>
                            <input type="text" name="wordInput" id="wordInput" placeholder="Enter Word">
                            <button id="synbtn" class= "btn btn-lg btn-success m-2" type="submit">Get Result</button><br><br>
                            <textarea disabled class="form-control" type="text" name="wordOutput" id="wordOutput"
                                placeholder="result" style="background-color: white;">
                            </textarea>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- main window end -->
    <!-- popup modal start -->
    <!-- fileInput of txt,word start -->
    <div class="modal fade" id="textFileInput" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" style="color: #fff;">Text files</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <span aria-hidden="true"></span>
                    </button>
                </div>
                <!-- <form id="txtFileReader" metho> -->
                <div class="modal-body">

                    <input class="form-control" type="file" id="formFileAsText" accept=".txt, .docx">
                </div>
                <div class="modal-footer">
                    <button id="fileReaderInput" type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
                    <button type="close" class="close" data-dismiss="modal">Close</button>
                </div>
            <!-- </form> -->
            </div>
        </div>
    </div>
    <!-- fileInput of txt,word end -->
    <!-- fileInput of pdf, jpg start -->
    <div class="modal fade" id="ocrFileInput" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" style="color:#fff">Pdf or image file for text recognition</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <span aria-hidden="true"></span>
                    </button>
                </div>
                <form enctype="multipart/form-data" id="readPdfImage" action="readPdfImage">
                    {% csrf_token %}
                    <div class="modal-body">
                        <input class="form-control" type="file" id="formFile" name='formFile'
                            accept=".pdf, .jpg, .jpeg, .png"> </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Save changes</button>
                        <button type="button" class="close btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--
        Below is AJAX loader
    -->
    <div id="loader" class="lds-dual-ring hidden overlay"></div>
    <!-- fileInput of pdf, jpg end -->
    <!-- popup modal end -->

</body>
<script defer src="{% static 'js/index.js' %}"></script>
</html>